body{
  background-color:rgb(2, 2, 159);
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

/* Navigation */
.Navigation{
  background-color: rgba(255, 255, 255, 0.879);
  justify-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
  position: static;
}
.Navigation img{
  margin-right: 10px;
  position: absolute;
  left: 20px;
}

.Navigation a, button{
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer; 
  font-size: 20px;
  transition: all 0.3s ease;
}
.Navigation a:hover{
  color: gold;
  font-size: larger;
}

.Navigation h2  {
  margin: 0;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 25%;
}

/*Introduction*/

.Introduction{
  background-image: url('https://crimesipoa.org/wp-content/uploads/2022/02/Image-1900x1069.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Introduction p{
  color: white;
  background-color: rgba(65, 65, 63, 0.4);
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 20px;
  border-radius: 105px;
}

/* About Section */
.About{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg-lZkG-wVTwr5ZQtKStoq60gE4DGP9KB8oQ&s);
  background-size: cover;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.About p{
  color: rgb(255, 255, 255);
  background-color: rgba(62, 62, 63, 0.4);
  border-radius: 105px;
  padding: 20px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

/* Footer */
.Footer{
  background-color: rgba(255, 0, 0, 0.879);
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

/* Service Page */
/* Selection */
.Selection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
  margin: 10px;
}
#EmergencyRes{
  background-image: url(https://plus.unsplash.com/premium_photo-1742418155763-a82f36a35774?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#Recruitment{
  background-image: url(https://businesstoday.co.ke/wp-content/uploads/2024/06/Everything-You-Need-to-Know-about-Kenya-Police-Ranks.jpg);
  background-size: cover;
  background-position: center;
}

#Investigation{
  background-image: url(https://media.licdn.com/dms/image/v2/C5612AQGx9O1v5VtfFw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1623928019210?e=2147483647&v=beta&t=lt-w8ClAMs6CzKc2fDWYb6wx-30AAK8I2gc2r3hm_F8);
  background-size: cover;
  background-position: center;
}

#OfficialDoc{
  background-image: url(https://www.kenyaconsulatela.go.ke/wp-content/uploads/2022/10/Kenya.jpg);
  background-size: cover;
  background-position: center;
}

.item{
  background-color: rgba(255, 255, 255, 0.879);
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70%;
  width: 250px;
  
  overflow: hidden;
  border-block-start: 10px solid gold;
  transition: all 1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item:hover{
  transform: translateX(20px);
  flex-grow: .6;
  background-blend-mode: lighten;
}

.item p{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  opacity: 0;
  transition: all .5s ease;

}
.item:hover p{
  opacity: 1;
}

.item h3{
  color: gold;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.Footer p{
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  height: 100px;
}

/* Registration Page */
.MainBody{
  background-image: url(https://media.istockphoto.com/id/1334705669/vector/kenya-african-country-flag.jpg?s=612x612&w=0&k=20&c=WhqoKoGjkWlkYVuPRIxjieRE9jQvljyEjiNuh1PhE_w=);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 200px 200px 100px rgba(0, 0, 0, .8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RegistrationSection{
  background-color: white;
  height: fit-content;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

.RegistrationForm input, textarea{
  width: 80%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.RegistrationForm button{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: gold;
  color: black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer; 
  font-size: 20px;
  transition: all 0.3s ease;
}

.RegistrationForm button:hover{
  background-color: lightgoldenrodyellow;
  transform: scale(1.1);
}

.PreReg{
  background-color: rgba(255, 255, 255, 0.879);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  height: 60%;
  width: 250px;
  
  overflow: hidden;
  border-block-start: 10px solid gold;
  transition: all 1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .item{
    width: 90%;
  }
}  
