body{
  background-color:rgb(2, 2, 159);
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

/* Navigation */
.Navigation{
  background-color: rgba(255, 255, 255, 0.879);
  justify-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
  position: static;
}
.Navigation a, button{
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer; 
  font-size: 20px;
  transition: all 0.3s ease;
}
.Navigation a:hover{
  color: gold;
  font-size: larger;
}

.Navigation h2  {
  margin: 0;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 25%;
}

/*  */

.Introduction{
  background-image: url('https://crimesipoa.org/wp-content/uploads/2022/02/Image-1900x1069.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Introduction p{
  color: white;
  background-color: rgba(65, 65, 63, 0.4);
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 20px;
  border-radius: 105px;
}

/* About Section */
.About{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg-lZkG-wVTwr5ZQtKStoq60gE4DGP9KB8oQ&s);
  background-size: cover;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.About p{
  color: rgb(255, 255, 255);
  background-color: rgba(62, 62, 63, 0.4);
  border-radius: 105px;
  padding: 20px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

/* Footer */
.Footer{
  background-color: rgba(255, 0, 0, 0.879);
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}