body{
  background-color:rgb(2, 2, 159);
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
}

.Navigation{
  background-color: rgba(255, 255, 255, 0.879);
  justify-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.Navigation a, button{
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer; 
  font-size: 20px;
  transition: all 0.3s ease;
}
.Navigation a:hover{
  color: gold;
  font-size: larger;
}

.Navigation h2  {
  margin: 0;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 25%;
}


