body{
  background-image: url(https://nairobilawmonthly.com/wp-content/uploads/2024/01/police-kenya-1.jpeg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 200px 200px 200px rgba(0, 0, 0, 0.3) inset;
  height: 100vh;
}

.LoginContainer{
  background-color: rgba(255, 255, 255, 0.879);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border: 5px solid gold;
  width: 30vw;
  max-height: fit-content;
  background-image: url(https://i.pinimg.com/474x/e4/58/3c/e4583cc146eeefa74a0154dd58886c95.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
}

.LoginContainer h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.LoginContainer p{
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.LoginForm{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.LoginForm input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.LoginForm label{
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.LoginForm button{
  padding: 10px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.LoginForm button:hover{
  background-color: darkgoldenrod;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

a{
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}
a:hover{
  color: darkred;
  font-size: 15px;
}


/* Sign Up Page */
.SignUpContainer{
  background-color: rgba(255, 255, 255, 0.879);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border: 5px solid gold;
  width: 30vw;
  max-height: fit-content;
  background-image: url(https://i.pinimg.com/474x/e4/58/3c/e4583cc146eeefa74a0154dd58886c95.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
}

.SignUpContainer h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.SignUpContainer p{
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.SignUpForm{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.SignUpForm input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.SignUpForm label{
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.SignUpForm button{
  padding: 10px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.SignUpForm button:hover{
  background-color: darkgoldenrod;
  font-family: Arial, sans-serif;
  font-size: 25px;
}
